.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-width: 10px;
   border-style: ridge;
   border-color: darkviolet;
   background-color: white;
   background-size: cover;
}
#button{
    background-color: darkviolet;
    color:white;
    font-size: 25px;
}
div{
    color: black;
}
